Body {
    background-color: black;
}

.Christmas {
    font-family: cursive;
    font-size: 45px;
    color: cornsilk;
    text-align: center;
}

h1 {
    color: cornsilk;
    background-image: radial-gradient(darkgreen, green, white);
    text-align: center;
    outline-style:solid; outline-color: silver
}